<div class="mb-3">
    <label class="col-auto" for="title">Title:</label>
    <input class="col-auto" [(ngModel)] = "bookTitle" placeholder="book">
    <label for="author">Author:</label>
    <input [(ngModel)] = "bookAuthor" placeholder="leo">

    <button class="btn btn-primary" (click)="addBook()">Add Book</button>
</div>

<table>
    <thead>
        <tr>
            <td>Title</td>
            <td>Author</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books; index as i">
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>
                <button class="btn btn-danger" (click)="deleteBook(i)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>